<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xSoftware -->
      <package
            uri="http://www.uniandes.edu.co/xsoftware"
            class="xSoftware.XSoftwarePackage"
            genModel="models/xSoftware.genmodel"/>
   </extension>

</plugin>
